:css
  .row .row {
  margin-left: auto;
  margin-right: auto;
  height: 2em;
  }


= form_tag(add_friends_list_path(@list), class: "seperate-lists padding-bottom-6")  do 
  %h1.center
    = "Edit #{@list.name}" 
    .smaller= "(#{@list.mode})"  if @list.mode
  .large-3.columns.large-offset-5
    =label_tag "Days between list rotation"
    =radio_button_tag "days_between_rotation", "1", true
    =label_tag "1"
    =radio_button_tag "days_between_rotation", "2", false
    =label_tag "2"
    =radio_button_tag "days_between_rotation", "3", false
    =label_tag "3"

  %hr.shrink-me
  %row#always-on
  %row#frequently-on
  %row#sometimes-on
  %hr.shrink-me
  - @friends.each_with_index do |friend, index|
    .row.shrink-me.middle.bump-up{id: "move-me-#{index}"}
      .large-3.columns.small-12.border-right.row-height
        =image_tag friend.avatar, class: "circle middle"
      .large-3.columns.border-right.white-bottom.row-height{class: "color-me-#{index}"}
        .h2.name.center-name.center= "#{friend.name}"
      .large-3.columns.border-right.white-bottom.row-height{class: "color-me-#{index}"}
        .h2.name.center-name.center= "@#{friend.username}"
      .large-3.columns.row-height
        = select_tag "friends[][schedule]", options_for_select(FriendListSchedule.schedules, friend.current_schedule(@list)), class: "middle", id: "friend-list-options-#{index}"
        =hidden_field_tag "friends[][friend_id]", friend.id
        =hidden_field_tag "list", @list.id 
    %hr.shrink-me-hr{id: "move-hr-#{index}"}
    .fixed#stay-down.padding-top-1
      = submit_tag "Submit", class: "button success large float-center half-width down-button"
    