%h1.center= "Edit #{@list.name}"
.col-sm-8.col-sm-offset-2  
  = form_tag(add_friends_list_path(@list)) do 
    - @friends.each do |friend|
      .center= friend.name
      %br/
      .center= friend.bio
      %br/
      .center= select_tag "friends[][schedule]", options_for_select(FriendListSchedule.schedules, friend.current_schedule(@list))
      =hidden_field_tag "friends[][friend_id]", friend.id
      =hidden_field_tag "list", @list.id 
      %br/
      %hr/
    =submit_tag "Submitttt", class: "btn btn-success btn-lg full-width marg-bottom"
