-@lists.each do |list|

  .large-6.large-offset-3.columns.move-down
    .callout
      %h5.center= link_to list.name.capitalize, list.url
      %p.center= "There are currently #{list.on_list.count} members on this list"
      %a
      - if list.friends.count < 4 && list.friends.count > 0
        = image_tag list.avatar_sample.avatar, class: "img collage"
        = image_tag list.avatar_sample.avatar, class: "img collage"
        = image_tag list.avatar_sample.avatar, class: "img collage"
        = image_tag list.avatar_sample.avatar, class: "img collage"
      - if list.friends.count > 4
        = image_tag list.avatar_sample[0], class: "img collage"
        = image_tag list.avatar_sample[1], class: "img collage"
        = image_tag list.avatar_sample[2], class: "img collage"
        = image_tag list.avatar_sample[3], class: "img collage"

      %hr/
      %a= link_to "Edit: #{list.name.capitalize}", edit_list_path(list), class: "primary  button four-width"
      %a=link_to "Delete List", list_path(list), method: :delete, data:{confirm: "Are you sure you want to delete #{list.name}? This will remove it from twitter too!"}, class: "button  four-width alert"
      %a
    %br/
      
      
.col-sm-6.col-sm-offset-3.center.move-down.clear-both
  %button.secondary= link_to "Update Lists", import_lists_path, class: "button large success clear-both"