-@lists.each do |list|
  .large-4.medium-4.columns.move-down
    = image_tag list.avatar_sample, class: "img collage"
    = image_tag list.avatar_sample, class: "img collage"
    = image_tag list.avatar_sample, class: "img collage"
    = image_tag list.avatar_sample, class: "img collage"

    .callout
      %h5= list.name.capitalize 
      %p= "There are currently #{list.on_list.count} members on this list"
      %a
        = link_to "Edit: #{list.name.capitalize}", edit_list_path(list), class: "primary  large button full-width"
      %br/
      %a
        =link_to "Delete List", list_path(list), method: :delete, data:{confirm: "Are you sure you want to delete #{list.name}? This will remove it from twitter too!"}, class: "button large  full-width alert"
    %br/
        
      
.col-sm-6.col-sm-offset-3.center.move-down.clear-both
  %button.secondary= link_to "Update Lists", import_lists_path, class: "button large success clear-both"