%h1.center= "Add to #{@list.name} list"
.col-sm-8.col-sm-offset-2
  %table.table
    %thead
      %tr
        %th Name
        %th.center Rotation Schedule 
        %th Bio
        %th{:colspan => "3"}
    %tbody
      =form_tag(add_friends_list_path)
      - @friends.each do |friend|
        %tr
          %td= friend.name
          %td.center= select_tag "friends[][schedule]", options_for_select(FriendListSchedule.schedules), selected: "Never On List"
          %td= friend.bio
          =hidden_field_tag "friends[][friend_id]", friend.id
          =hidden_field_tag "list", @list.id 
  =submit_tag "Submit", class: "btn btn-default list-button"

