:javascript
  $(document).ready(function(){
  $(".h2").addClass("animated bounce testing")
  });
-if current_user
  %h2.center.play.big Pick a task:

  .col-sm-6.col-sm-offset-3.center.move-down
    = link_to "Make a New List", new_list_path, class: "button btn btn-default list-button play"
    = link_to "Edit Current List", lists_path, class: "button btn btn-default list-button play"
    = link_to "View All Friends", friends_path, class: "button btn btn-default list-button play"
    = link_to "Add Email for Notifications", '/sessions/set_email', class: "button btn btn-default list-button play" if current_user.email.nil?


-else
  .col-sm-6.col-sm-offset-3.col-xs-12
    %h1.center.push-down Twitter Lists
    .hovereffect
      %img.img-responsive= image_tag "twitter_bird.png", class: "middle full-width"
      .overlay
        %h2 Welcome
        %a.info{:href => "/auth/twitter/"} log in