%body.home
    
  -if current_user
    -# .header.inline= image_tag "twitter_lists2.png"
    .row.margin-top-30
      .large-6.small-12.columns
        = link_to "Make a New List", new_list_path, class: "yellow large button full-width"
      .large-6.small-12.columns
        = link_to "Edit Current List", lists_path, class: "yellow large button full-width"
      .large-6.small-12.columns
        = link_to "View All Friends", friends_path, class: "yellow large button full-width"
      .large-6.small-12.columns
        = link_to @email_text, '/sessions/set_email', class: "yellow large button full-width" 
      .large-6.small-12.columns



  -else
    .row
      .small-6.columns.small-offset-3
        %h1.center.move-down Twitter Lists
        .image-wrapper.overlay-fade-in
          %img= image_tag "twitter_bird.png"
          .image-overlay-content
            %h2 Welcome
            %p.price Easily Manage Your Lists
            %a.button.large.success.half-width{:href => "/auth/twitter"} Log In