!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Twitterlists
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=Play", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Home", root_path, class: "navbar-brand"
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Log In", '/auth/twitter'
            %li= link_to "Other", "#"
  - flash.each do |key, value|
    .alert{ :class => "alert-#{key}" }
      %button.close{ :data => { :dismiss => "alert" } } x
      %strong
        = value
  .container
    = yield
