!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .contain-to-grid.header-section
      / TOPBAR SECTION
      / TOPBAR SECTION
      %nav.top-bar.important-class{"data-topbar" => ""}
        / TITLE AREA & LOGO
        %ul.title-area
          %li.name
            %h2.logo TwitterLists
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span menu
        / END TITLE AREA & LOGO
        / MENU ITEMS
        %section.top-bar-section
          %ul.right
            -if current_user
              %li.active.has_dropdown
                %ul.dropdown
                %li.has-dropdown
                  %a{:href => "#"} Account
                  %ul.dropdown
                    %li
                      =link_to "Add Email for Notifications!", '/sessions/set_email'
                    %li
                      = link_to "Refresh Friend List", "/auth/twitter"
                    %li
                      = link_to "Log Out", logout_path, method: :delete
                  -unless current_user.email.present?
                    %li
                      = link_to "Add Email for notifications!", '/sessions/set_email'
                    %li
                      = link_to "Refresh Friend List", "/auth/twitter"
                    %li.divider{:role => "separator"}
                    %li= link_to "Log Out", logout_path, method: :delete
             
            -else
              %li.active
                = link_to "Log In", '/auth/twitter'
        / END MENU ITEMS
      / END TOPBAR SECTION
    /
      END HEADER SECTION
      
      <!-- CONTENT FILL WHEN SCROLL = 0
    .header-fill
    / CONTENT SECTION
    .row.content-section
      .main-content
        .small-12.medium-12.large-12.columns
          = yield
    / END CONTENT SECTION
    / FOOTER SECTION
    .footer-section
      .row
        .small-12.medium-12.large-12.columns
          %p © Copyright 2014
    / END FOOTER SECTION