!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => false
    = csrf_meta_tags
    %title
      TwitterLists
    :css
      .top-bar{
          background-color: #FFFFFF;
          border-bottom: 2px solid black;
      }
      .top-bar, .top-bar ul {
          background-color: #FFFFFF;
      }
      .yellow{
        background-color: #FFF67F;
        color: black;
      }
  %body
    / Small Navigation
    .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
      %a.logo-small.show-for-small-only{:href => "#"}
        =image_tag "logo.png", class: "img min"
      %button.menu-icon{"data-toggle" => "", :type => "button"}
      .title-bar-title Menu
    / Medium-Up Navigation
    %nav#nav-menu.top-bar.custom
      .logo-wrapper.hide-for-small-only
        .logo
          =image_tag "logo.png", class: "img min"
      / Left Nav Section
      .top-bar-left
        %ul.vertical.medium-horizontal.menu
          %li
            =link_to "Home", root_path
      / Right Nav Section
      .top-bar-right
        %ul.vertical.medium-horizontal.menu
          -if current_user
            %li.divider
            %li
              = link_to "Refresh Friend List", "/auth/twitter"
            %li.divider
            %li
              = link_to "Log Out", logout_path, method: :delete
            %li.divider
            -unless current_user.email.present?
              %li
                =link_to "Add Email", '/sessions/set_email'
          -else
            %li
              =link_to "Log In", "/auth/twitter"
    -# %row.margin-in
    -#   %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", :rel => "stylesheet"}/
    -#   %nav.top-bar.custom{"data-topbar" => "", :role => "navigation"}
    -#     %ul.title-area
    -#       / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    -#       %li.toggle-topbar.menu-icon
    -#         %a{:href => "#"}
    -#           %span Menu
    -#     %section.top-bar-section.custom
    -#       / Right Nav Section
    -#       %ul.right
    -#         -if current_user
    -#           %li.divider
    -#           %li
    -#             = link_to "Refresh Friend List", "/auth/twitter"
    -#           %li.divider
    -#           %li
    -#             = link_to "Log Out", logout_path, method: :delete
    -#           %li.divider
    -#           -unless current_user.email.present?
    -#             %li
    -#               =link_to "Add Email", '/sessions/set_email'
    -#         -else
    -#           %li
    -#             =link_to "Log In", "/auth/twitter"
    -#       %ul.social-icons
    -#         %li
    -#           %a{:href => "/"}
    -#             %i.fi-home
    -#               | Home
    -# 
    -#   %nav.top-bar.custom
    -#     %ul.title-area
    -#       %li.name
    -#         %h2.logo 
    -#           = link_to "TwitterLists", root_path
    -#     %section.top-bar-section.custom
    -#       %ul.right
    -#         -if current_user
    -#           %li.name
    -#             %h2 
    -#               = link_to "Refresh Friend List", "/auth/twitter"
    -#           %li.name
    -#             %h2 
    -#               = link_to "Log Out", logout_path, method: :delete
    -#           -unless current_user.email.present?
    -#             %li.name
    -#               %h2 
    -#                 =link_to "Add Email", '/sessions/set_email'
    -#         -else
    -#           %li.active
    -#             = link_to "Log In", '/auth/twitter'
    -# - flash.each do |key, value|
    -#   .alert{ :class => "alert-box #{key}" }
    -#     %button.close{ :data => { :dismiss => "alert" } } x
    -#     %strong
    -#       = value
    .row
      = yield



