!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = javascript_include_tag "application", 'data-turbolinks-track' => false
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
    %link{href: "https://fonts.googleapis.com/css?family=Bungee|Bungee+Outline|Handlee|Mogra", rel: "stylesheet"}/
    = render partial: "partials/google_analytics"
    %title
      TwitterLists
    :css
      .top-bar{
          background-color: #FFFFFF;
          border-bottom: 2px solid black;
      }
      .top-bar, .top-bar ul {
          background-color: #FFFFFF;
      }
      .yellow{
        background-color: #FFF67F;
        color: black;
      }
  %body
    / Small Navigation Commenting out - this is showing above medium nav
    -# .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
    -#   %a.logo-small.show-for-small-only{:href => "#"}
    -#     =image_tag "logo.png", class: "img min"
    -#   %button.menu-icon{"data-toggle" => "", :type => "button"}
    -#   .title-bar-title Menu
    / Medium-Up Navigation
    %nav#nav-menu.top-bar.custom
      .logo-wrapper.hide-for-small-only
        .logo
          =image_tag "logo.png", class: "img min"
      / Left Nav Section
      .top-bar-left
        %ul.vertical.medium-horizontal.menu
          %li
            =link_to "Home", root_path
      / Right Nav Section
      .top-bar-right
        %ul.vertical.medium-horizontal.menu
          -if current_user
            %li.divider
            %li
              = link_to "Refresh Friend List", "/auth/twitter"
            %li.divider
            %li
              = link_to "Log Out", logout_path, method: :delete
            %li.divider
            -unless current_user.email.present?
              %li
                =link_to "Add Email", '/sessions/set_email'
          -else
            %li
              =link_to "Log In", "/auth/twitter"
    .row
      = yield
    = render partial: "partials/google_analytics_pageview"
    